@font-face {
    font-family: signup;
    src: url(PrettyGoodDemo-K72jD.ttf);
}

@font-face {
    font-family: form;
    src: url(RocketchickenRegular-qZ6EV.otf);
}


@font-face {
    font-family: wat;
    src: url(WinterPrincess-EaZv4.ttf);
}