@font-face {
    font-family: signup;
    src: url(PrettyGoodDemo-K72jD.ttf);
}

@font-face {
    font-family: form;
    src: url(RocketchickenRegular-qZ6EV.otf);
}


@font-face {
    font-family: wat;
    src: url(WinterPrincess-EaZv4.ttf);
}








body {

    background-image: url(4659165.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}



.label1,
.label2,
.mailad {
    font-weight: 600;
    margin: 0 auto;
    font-family: Poppins;

}

img {
    margin: auto;
    opacity: 70%;
    border-radius: 20px;
    height: 150px;
}

header {
    background-color: #ffffff8b;
    border-radius: 30px;
    border: 10px double black;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Poppins;
    text-align: center;
    width: 70%;

    font-size: 10px;
    letter-spacing: 4px;



}

#main_title {
    color: rgb(0, 153, 174);
    text-shadow: 0 0 1px black;
    text-align: center;
    font-weight: 600;
    margin: 30px 50px;
    animation: slide-top 4s linear;

}


@keyframes slide-top {
    0% {

        transform: translateY(50px);
    }

    100% {

        scale: 120%;
        transform: translateY(0px);
    }
}

@keyframes slide-top {
    0% {
        scale: 80%;
        color: rgb(212, 0, 255);
        transform: translateY(50px);
    }

    50% {
        color: red;
    }

    80% {
        color: rgb(179, 210, 0);
    }

    100% {
        scale: 100%;
        color: rgb(0, 153, 174);
        text-shadow: 0 0 1px black;
        transform: translateY(0px);
    }
}

select {
    margin: 0 auto;
    width: 370px;
    max-height: 100px;
    font-family: Poppins;
    align-items: center;

    background-color: transparent;
    resize: none;
    overflow: hidden;

}



#agree {

    margin: 0 auto;


}

fieldset {
    background-color: #eeeeee7c;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    justify-content: center;

}

legend {

    background-color: rgba(0, 132, 139, 0.552);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: larger;
    margin: 10px auto;
    font-family: signup;
    border: solid 2px black;

}



#lname,
#fname,
#email {



    margin: 0 auto;

}

input {


    margin: 0 auto;

    background-color: rgb(147, 207, 190);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3%;






}

.mailad {

    padding: 10px;

}

Input[type=text]:focus {
    background-color: #ffffff;
    opacity: 90%;
}


Input[type=email]:focus {
    background-color: #ffffff;
    opacity: 90%;
}



input[type=email] {

    width: 490px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px auto;


}


form {
    display: table-row-group;
    table-layout: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: form;


}


textarea {
    margin: 20px auto;

    resize: none;
    overflow: hidden;
    text-align: left;



}

.btn {

    margin: 0 auto;


}

input[type=submit]:focus {


    cursor: pointer;
    scale: 90%;
}

input[type=submit]:hover {
    cursor: pointer;
}





select option:hover,
select option:focus,
select option:active {
    background: linear-gradient(rgb(147, 207, 190), #e7ffe9);
    background-color: #000000a4 !important;
    /* for IE */
    color: #000000 !important;
    cursor: pointer;
    scale: 95%;
}

select option:checked {
    background: linear-gradient(rgb(147, 207, 190), #e7ffe9);
    background-color: #a5ff7ea4 !important;
    /* for IE */
    color: #000000 !important;
}